

<h1 id="h1">Edit article</h1>
<hr  style="height:5px; background-color: blue; width:100%;" class="line1">

<% if @article.errors.any? %>
  <h2 style = "color: red">The following errors prevented the article from being created</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li style = "color: red"><%=  msg %></li>
    <% end %>
  </ul>  
<% end %>

<div style = "margin:30px;padding:0">
  <%= form_with(model: @article, local: true)  do |f| %>
    
    <p>
      <strong> 
        <%= f.label :title  %>
      </strong>   
    </p>
    <p>
        <%= f.text_field :title %>
    </p>
  
    <p>
      <strong> 
        <%= f.label :description %>
      </strong>    
    </p> 
 
    <p>
        <%= f.text_area :description %>
    </p>  

    <p>
      <%= f.submit 'Submit' %>
    </p>

  <% end %>
</div>
